<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="ClassArrangement" EntityName="ClassArrangement" Owner="dbo" PropertyName="ClassArrangement" FieldName="_classArrangement" FriendlyName="Class Arrangement" IncludeInOutput="true">
		<Column Id="CustomerId" CSType="System.Int32" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="ClassId" CSType="System.Int32" PropertyName="ClassId" FieldName="_classId" FriendlyName="Class Id" IncludeInOutput="true" />
		<Column Id="CreateDate" CSType="System.DateTime" PropertyName="CreateDate" FieldName="_createDate" FriendlyName="Create Date" IncludeInOutput="true" />
	</Table>
	<Table Id="ClassDetails" EntityName="ClassDetails" Owner="dbo" PropertyName="ClassDetails" FieldName="_classDetails" FriendlyName="Class Details" IncludeInOutput="true">
		<Column Id="ClassId" CSType="System.Int32" PropertyName="ClassId" FieldName="_classId" FriendlyName="Class Id" IncludeInOutput="true" />
		<Column Id="ClassName" CSType="System.String" PropertyName="ClassName" FieldName="_className" FriendlyName="Class Name" IncludeInOutput="true" />
		<Column Id="ClassTime" CSType="System.Int32?" PropertyName="ClassTime" FieldName="_classTime" FriendlyName="Class Time" IncludeInOutput="true" />
		<Column Id="CourseId" CSType="System.Int32?" PropertyName="CourseId" FieldName="_courseId" FriendlyName="Course Id" IncludeInOutput="true" />
		<Column Id="TeacherId" CSType="System.Int32?" PropertyName="TeacherId" FieldName="_teacherId" FriendlyName="Teacher Id" IncludeInOutput="true" />
		<ChildCollection Id="ClassArrangementCollection" PropertyName="ClassArrangementCollection" FieldName="_classArrangementClassId" FriendlyName="ClassArrangementCollection" CSType="TList&lt;ClassArrangement&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ClassArrangement_ClassDetails" IncludeInOutput="true"/>
	</Table>
	<Table Id="ClassTime" EntityName="ClassTime" Owner="dbo" PropertyName="ClassTime" FieldName="_classTime" FriendlyName="Class Time" IncludeInOutput="true">
		<Column Id="ClassTimeId" CSType="System.Int32" PropertyName="ClassTimeId" FieldName="_classTimeId" FriendlyName="Class Time Id" IncludeInOutput="true" />
		<Column Id="TimeName" CSType="System.String" PropertyName="TimeName" FieldName="_timeName" FriendlyName="Time Name" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<ChildCollection Id="ClassDetailsCollection" PropertyName="ClassDetailsCollection" FieldName="_classDetailsClassTime" FriendlyName="ClassDetailsCollection" CSType="TList&lt;ClassDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ClassDetails_ClassTime" IncludeInOutput="true"/>
	</Table>
	<Table Id="CourseCertificate" EntityName="CourseCertificate" Owner="dbo" PropertyName="CourseCertificate" FieldName="_courseCertificate" FriendlyName="Course Certificate" IncludeInOutput="true">
		<Column Id="CertificateId" CSType="System.Int32" PropertyName="CertificateId" FieldName="_certificateId" FriendlyName="Certificate Id" IncludeInOutput="true" />
		<Column Id="CertificateName" CSType="System.String" PropertyName="CertificateName" FieldName="_certificateName" FriendlyName="Certificate Name" IncludeInOutput="true" />
		<ChildCollection Id="CourseDetailsCollection" PropertyName="CourseDetailsCollection" FieldName="_courseDetailsCourseCertificate" FriendlyName="CourseDetailsCollection" CSType="TList&lt;CourseDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CourseDetails_CourseCertificate" IncludeInOutput="true"/>
	</Table>
	<Table Id="CourseDetails" EntityName="CourseDetails" Owner="dbo" PropertyName="CourseDetails" FieldName="_courseDetails" FriendlyName="Course Details" IncludeInOutput="true">
		<Column Id="CourseId" CSType="System.Int32" PropertyName="CourseId" FieldName="_courseId" FriendlyName="Course Id" IncludeInOutput="true" />
		<Column Id="CourseName" CSType="System.String" PropertyName="CourseName" FieldName="_courseName" FriendlyName="Course Name" IncludeInOutput="true" />
		<Column Id="CourseCertificate" CSType="System.Int32?" PropertyName="CourseCertificate" FieldName="_courseCertificate" FriendlyName="Course Certificate" IncludeInOutput="true" />
		<Column Id="CourseFee" CSType="System.Double?" PropertyName="CourseFee" FieldName="_courseFee" FriendlyName="Course Fee" IncludeInOutput="true" />
		<Column Id="CourseGroup" CSType="System.Int32?" PropertyName="CourseGroup" FieldName="_courseGroup" FriendlyName="Course Group" IncludeInOutput="true" />
		<ChildCollection Id="ClassDetailsCollection" PropertyName="ClassDetailsCollection" FieldName="_classDetailsCourseId" FriendlyName="ClassDetailsCollection" CSType="TList&lt;ClassDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ClassDetails_CourseDetails" IncludeInOutput="true"/>
	</Table>
	<Table Id="CourseGroup" EntityName="CourseGroup" Owner="dbo" PropertyName="CourseGroup" FieldName="_courseGroup" FriendlyName="Course Group" IncludeInOutput="true">
		<Column Id="CourseGroupId" CSType="System.Int32" PropertyName="CourseGroupId" FieldName="_courseGroupId" FriendlyName="Course Group Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<ChildCollection Id="CourseDetailsCollection" PropertyName="CourseDetailsCollection" FieldName="_courseDetailsCourseGroup" FriendlyName="CourseDetailsCollection" CSType="TList&lt;CourseDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CourseDetails_CourseGroup" IncludeInOutput="true"/>
	</Table>
	<Table Id="CustomerDetails" EntityName="CustomerDetails" Owner="dbo" PropertyName="CustomerDetails" FieldName="_customerDetails" FriendlyName="Customer Details" IncludeInOutput="true">
		<Column Id="CustomerId" CSType="System.Int32" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Birthday" CSType="System.DateTime?" PropertyName="Birthday" FieldName="_birthday" FriendlyName="Birthday" IncludeInOutput="true" />
		<Column Id="OccupationTypeId" CSType="System.Int32?" PropertyName="OccupationTypeId" FieldName="_occupationTypeId" FriendlyName="Occupation Type Id" IncludeInOutput="true" />
		<ChildCollection Id="ClassArrangementCollection" PropertyName="ClassArrangementCollection" FieldName="_classArrangementCustomerId" FriendlyName="ClassArrangementCollection" CSType="TList&lt;ClassArrangement&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ClassArrangement_CustomerDetails" IncludeInOutput="true"/>
	</Table>
	<Table Id="OccupationType" EntityName="OccupationType" Owner="dbo" PropertyName="OccupationType" FieldName="_occupationType" FriendlyName="Occupation Type" IncludeInOutput="true">
		<Column Id="OccupationTypeId" CSType="System.Int32" PropertyName="OccupationTypeId" FieldName="_occupationTypeId" FriendlyName="Occupation Type Id" IncludeInOutput="true" />
		<Column Id="OccupationName" CSType="System.String" PropertyName="OccupationName" FieldName="_occupationName" FriendlyName="Occupation Name" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<ChildCollection Id="CustomerDetailsCollection" PropertyName="CustomerDetailsCollection" FieldName="_customerDetailsOccupationTypeId" FriendlyName="CustomerDetailsCollection" CSType="TList&lt;CustomerDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerDetails_OccupationType" IncludeInOutput="true"/>
	</Table>
	<Table Id="TeacherDetails" EntityName="TeacherDetails" Owner="dbo" PropertyName="TeacherDetails" FieldName="_teacherDetails" FriendlyName="Teacher Details" IncludeInOutput="true">
		<Column Id="TeacherId" CSType="System.Int32" PropertyName="TeacherId" FieldName="_teacherId" FriendlyName="Teacher Id" IncludeInOutput="true" />
		<Column Id="TeacherName" CSType="System.String" PropertyName="TeacherName" FieldName="_teacherName" FriendlyName="Teacher Name" IncludeInOutput="true" />
		<Column Id="TeacherCertificate" CSType="System.Int32?" PropertyName="TeacherCertificate" FieldName="_teacherCertificate" FriendlyName="Teacher Certificate" IncludeInOutput="true" />
		<Column Id="Note" CSType="System.String" PropertyName="Note" FieldName="_note" FriendlyName="Note" IncludeInOutput="true" />
		<ChildCollection Id="ClassDetailsCollection" PropertyName="ClassDetailsCollection" FieldName="_classDetailsTeacherId" FriendlyName="ClassDetailsCollection" CSType="TList&lt;ClassDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ClassDetails_TeacherDetails" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
