<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AIDT.DecisionTreeApp.Properties.Settings.AIProjectConnectionString"
            connectionString="Data Source=PHUC-PC;Initial Catalog=AIProject;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>